{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
  <title>Прокрастинатор</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  <script type="text/javascript" src="//yandex.st/share/share.js"
  charset="utf-8"></script>
  <link rel="SHORTCUT ICON" href="{% static 'images/favicon.ico' %}"
  type="image/x-icon">
  </script>
</head>
<body>

<div id="header">
  <a href="{% url main %}">
    <h1 id="logo">Прокрастинатор</h1>
  </a>
  {% block hint %}{% endblock hint %}
</div>

<div id="left">
  {% block content-left %}{% endblock content-left %}
</div>

<div id="right">
  {% block content-right %}{% endblock content-right %}

  <div id="footer">
    <div id="about-box">
      <div>
        ASCII-сиськи в доступной игровой форме.<br>
        Создано в феврале 2013 по уважительной причине (just for fun).<br><br>
        Ешьте капусту и всё получится (&nbsp;.&nbsp;Y&nbsp;.&nbsp;)
      </div>
    </div>
    <a id="about-link" onclick="showAbout()">О проекте</a>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter"></div>
  </div>
</div>

{% block gameover %}{% endblock gameover %}

{% block game-script %}{% endblock game-script %}

</body>
</html>