{% extends "game/base.html" %}

{% block content-left %}

<h2>404. Несуществующее</h2>

<div>
  <br>Вы попали в место которого нет<s> и это не лепра.</s><br><br>
  Попасть сюда было достаточно сложно,<br>
  ведь на сайте всего две страницы.<br><br>
  Хотя, если подумать, это напротив было довольно легко,<br>
  <em>ведь на сайте всего две страницы.</em><br><br>
  Подумайте над этим, после чего<br>
  <a class="p404" href="{% url main %}">возвращайтесь</a> в реальное пространство.
</div>

{% endblock content-left %}